 

<%- include("./partials/head") %> 

<%- include("./partials/header") %>  


    <div class="formularioIngresa">
        <div class="container">
            <div class="row">
                <form id="loginForm" class="FormLogin col-12 col-md-8 col-lg-8" action="/users/login" method="POST">
                    <div class="row"> 
                        <div class="col-12 Registro">     
                            <div class="col-12">
                                <h3>Ingresar</h3>
                            </div>   
                            <div id="errors"></div>
                        </div>
                    </div>  
                    <div class="form-group col-12 col-md-12 col-lg-12">            
                        <label form="email">email:</label> 
                        <input type="text" id="emailLogin" name="email" class="form-control <%= (typeof old != 'undefined' && old.email && !errors.email)?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>" value="<%= (typeof old != 'undefined' && old.email)?old.email:'' %>"  placeholder="Ingrese su email" />             
                        <small id="smallEmailLogin" class="text-danger"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>
                    </div>                    

                    <div class="form-group col-12 col-md-12 col-lg-12">    
                        <label form="contraseña">Ingrese una Contraseña</label> 
                        <input type="password" placeholder="Ingrese una Contraseña" class="form-control <%= (typeof old != 'undefined' && old.contraseña && !errors.contraseña)?"is-valid":(typeof errors != 'undefined' && errors.contraseña)?"is-invalid": ""  %>" name="contraseña" id="contraseñaLogin" > 
                        <small id="smallContraseñaLogin" class="text-danger"><%= (typeof errors != 'undefined' && errors.contraseña)?errors.contraseña.msg: "" %> </small>  
        
                    </div> 
                    
                    <div class="divCheck custom-control custom-checkbox col-12 col-md-12 col-lg-12">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="clasLabel custom-control-label" for="customCheck1">Recordarme</label>
                      </div>
                    <div class="form-group col-12 col-md-12 col-lg-12">
                    
                        <button class="btnDetalle btn btn-primary" type="submit">
                            Ingresar
                        </button>
                        </div>   
                    
                </form>
            </div>
        </div>
    </div>
   
   
<%- include("./partials/footer") %> 

 <script src="/javascripts/loginFront.js"></script>
