<%- include("./partials/head") %> 
<%- include("./partials/header") %> 

<div class="container">
    <div class="row">
        <div class="alert alert-primary col-12" role="alert">
            <%- noticia.tituloArtNoticia %>  
          </div>
        <div class="col-12 col-md-12 col-lg-12">
            <h1 class="noticia_tituloShow"><%- noticia.titulo %> </h1>
        </div> 
        <div class="col-12 col-md-12 col-lg-12">
            <h3 class="noticia_subtituloShow"><%- noticia.subTitulo %> </h3>
        </div>  
        <div class="col-12 col-md-12 col-lg-12">
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="/images/newsImages/<%- noticia.Imagen %>  " alt="...">
            </figure>
        </div>
        <div class="col-12 col-md-12 col-lg-12">
            <p class="parrafoNoticia">
                <%- noticia.contNoticia %> 
            </p>
        </div>
    </div>
</div>
<%- include("./partials/footer") %> 